@model Medicine

@{
    Discount discount = ViewBag.discount;
}
@{
    int ratingcount = 0;
    int countpoint = 0;
    string productcategory = "";
    int num = 0;
    bool result = false;
    int prodid = Model.Id;
    if (User.Identity.IsAuthenticated)
    {
        num = 1;

        result = Model.Rates.Any(x => x.AppUser.UserName == User.Identity.Name);
       
    }
}
@foreach (var item in Model.Rates)
{
    ratingcount++;
    countpoint += item.Point;
}

@foreach (Category category in ViewBag.category)
{
    if (Model.CategoryId == category.Id)
    {
        productcategory = category.Name;
    }
}
@*@{
    int avg = 0;
    if (Model.Rates.Count>0)
    {
       avg= countpoint / ratingcount;
    }

}*@

<div class="headertext">
    <div class="container pt-4">
        <h1>Shop</h1>
        <span><a href="./index.html">Home</a></span>
        <span>></span>
        <span><a href="./index.html">@productcategory</a></span>
        <span>></span>
        <a href="./cart.html">@Model.Name</a>
    </div>
</div>
<div id="@prodid" class="product-details">
    <div class="container">
        <div class="row">
            <div class="product-details">
                <div class="container">
                    <div class="row">
                        <div class="product-details-wrapper">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="product-wrapper-img mb-5">
                                        <img src="~/assets/image/@Model.Image" style="width: 480px;" alt="">
                                    </div>
                                    <div class="product-mini-img d-flex">
                                        <div class="mini-img">
                                            <img src="~/assets/image/@Model.Image" style="width: 110px;" alt="">
                                        </div>
                                        @foreach (var item in Model.MedicineImages.Where(m => m.IsMain == false).Take(4))
                                        {

                                            <div class="mini-img">
                                                <img src="~/assets/image/@item.Name" style="width: 110px;" alt="">
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="col-lg-7 col-12">
                                    <div class="product-details-desc">
                                        <h3>@Model.Name</h3>
                                        <div class="review mb-3">
                                            <div class="starrating">
                                                @{
                                                    int star = 5-Model.RateAvg;
                                                    
                                                }
                                              @for (int i = 0; i < Model.RateAvg; i++)
                                                {
                                                    <i class="fa-solid fa-star staron"></i>
                                                }
                                                @for (int i = 0; i < star; i++)
                                                {
                                                    <i class="fa-solid fa-star"></i>
                                                }
                                                <span>(@ratingcount)</span>
                                            </div>
                                        </div>
                                        <div class="price mb-3">
                                         @if (Model.DiscountId==2)
                                            {
                                                <span>
                                                    <del> $ @Model.Price</del>
                                                </span>
                                                <h5>
                                                    @{
                                                        decimal price = (Model.Price * discount.Percentage) / 100;
                                                    }
                                                    $ @price.ToString("f0")
                                                </h5>
                                            }
                                            else{
                                                <span>
                                                   $ @Model.Price
                                                </span>
                                            }
                                        </div>
                                        <p>
                                            @Model.Article
                                        </p>
                                        <div class="quantity m-0 d-flex">

                                            @if (Model.Stock == true)
                                            {
                                                <a class="col-3 addToCart" asp-controller="Medicine" asp-action="Addbasket" asp-route-id="@Model.Id">Add To Cart</a>
                                            }
                                            <a asp-controller="Medicine" asp-action="AddWishlist" class="wishlistFetch" asp-route-id="@Model.Id">
                                                <i class="fa-solid fa-heart-circle-xmark"></i>
                                            </a>
                                        </div>
                                        <div class="stock mb-3 d-flex">
                                            <h5>SKU:</h5>
                                            <span>@Model.SKU</span>
                                        </div>
                                        <div class="stock mb-3 d-flex">
                                            <h5>Category:</h5>
                                            <span>
                                                @productcategory
                                            </span>
                                        </div>
                                        <div class="stock mb-3 d-flex">
                                            <h5>Availability:</h5>
                                            @{
                                                if (Model.Stock == true)
                                                {
                                                                                <span>In Stock</span>
                                                }
                                                else
                                                {
                                                                                <span style="color:red">No Stock</span>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="product-details-information">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product-review-info">
                        <ul class="nav-desc">
                            <li>
                                <button id="1" class="btnclick active" href="#">Description</button>
                            </li>
                            <li>
                                <button id="2" class="btnclick" data-toggle="tab" href="#">Information</button>
                            </li>
                            <li>
                                <button id="3" class="btnclick" data-toggle="tab" href="#">Reviews</button>
                            </li>
                        </ul>
                        <div class="productinformation">
                            <div id="1" class="description tabcontent">
                                @Model.Desc
                            </div>
                            <div id="2" class="info tabcontent">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th>
                                                weight
                                            <td>@Model.Weight kg</td>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="3" class="review tabcontent">
                                <div class="tab-pane" id="tab-pane-3">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4 class="mb-4">@ratingcount review for Equipment Product</h4>

                                            @foreach (Rate rate in Model.Rates)
                                            {
                                                <div style="margin:2rem" class="media-body">
                                                    <h6>@rate.AppUser.FirstName<small> - <i>@rate.Date</i></small></h6>
                                                    @{
                                                        int sartcount = 5 - rate.Point;
                                                    }
                                                    @for (int i = 0; i <rate.Point; i++)
                                                    {
                                                      <i class="fa-solid fa-star staron"></i>
                                                    }
                                                    @for (int i = 0; i < sartcount; i++)
                                                    {
                                                        <i class="fa-solid fa-star"></i>
                                                    }
                                                    @if (User.Identity.Name == rate.AppUser.UserName || User.IsInRole("Admin"))
                                                    {

                                                        <a asp-controller="medicine" asp-action="DeleteRate" asp-route-id="@rate.Id" asp-route-medid="@Model.Id" class="removebutton"><i class="far fa-times-circle" style="font-size:15px; margin-left:2rem;"></i></a>
                                                    }
                                                </div>
                                             
                                            }
                                            @if (Model.Comments != null)
                                            {
                                                @foreach (Comment comment in Model.Comments)
                                                {
                                                    <div style="margin:2rem ;display:flex;" class="media-body">
                                                        <div>
                                                            <h6>@comment.AppUser.FirstName<small> - <i>@comment.Date</i></small></h6>
                                                             <div>
                                                   <p>@comment.Message</p>    
                                                   </div>
                                                        </div>


                                                        @if (User.Identity.Name == comment.AppUser.UserName || User.IsInRole("Admin"))
                                                        {
                                                     
                                                            <a asp-controller="medicine" asp-action="deletecomment" asp-route-id="@comment.Id" class="removebutton"><i class="far fa-times-circle" style="font-size:15px; margin-left:2rem;"></i></a>
                                                        }
                                                    </div>
                                                }
                                            }
                                        </div>

                                    </div>
                                </div>
                           
                                <div class="col-lg-6 custom">
                                    <h4 class="mb-4">Leave a review</h4>
                                    <small>Your email address will not be published. Required fields are marked *</small>
                                    @if (num != 0 && !result)
                                    {
                                        <div class="d-flex my-3">
                                            <p class="mb-0 mr-2">Your Rating * :</p>
                                            <div class='rating-stars text-center'>
                                                <ul style="display:flex;" id='stars'>
                                                    <a class="rate-point" data-id="1" asp-controller="medicine" asp-action="AddRate">
                                                    <li class='star' title='WOW!!!' data-value='5'>
                                                        <i style="color: #f3a952;" class='fa fa-star fa-fw'></i>
                                                    </li>
                                                    </a>
                                                    <a class="rate-point" data-id="2" asp-controller="medicine" asp-action="AddRate">
                                                    <li class='star' title='WOW!!!' data-value='5'>
                                                        <i style="color: #f3a952;" class='fa fa-star fa-fw'></i>
                                                    </li>
                                                    </a>
                                                    <a class="rate-point" data-id="3" asp-controller="medicine" asp-action="AddRate">
                                                    <li class='star' title='WOW!!!' data-value='5'>
                                                        <i style="color: #f3a952;" class='fa fa-star fa-fw'></i>
                                                    </li>
                                                    </a>
                                                    <a class="rate-point" data-id="4" asp-controller="medicine" asp-action="AddRate">
                                                    <li class='star' title='WOW!!!' data-value='5'>
                                                        <i style="color: #f3a952;" class='fa fa-star fa-fw'></i>
                                                    </li>
                                                    </a>
                                                    <a class="rate-point" data-id="5" asp-controller="medicine" asp-action="AddRate">
                                                            <li class='star' title='WOW!!!' data-value='5'>
                                                        <i style="color: #f3a952;" class='fa fa-star fa-fw'></i>
                                                        </li>
                                                   </a>
                                                </ul>
                                            </div>
                                        </div>
                                    }
                                     @if (User.Identity.IsAuthenticated)
                                    {
                                        <form method="post" asp-controller="Medicine" asp-action="AddComment">
                                            <div class="input">

                                                <p>Your review *</p>
                                                <textarea required class="form-control" id="exampleFormControlTextarea1" rows="3" name="Message" style="font-size:15px;"></textarea>
                                                <input required type="hidden" name="MedicineId" value="@Model.Id" />
                                            </div>

                                            <button type="submit" class="btn">Submit</button>
                                        </form>
                                    }
                                    else{
                                        <a class="view" asp-controller="account" asp-action="login">Add Comment login</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    var btns = document.querySelectorAll(".rate-point")
    btns.forEach(btn=>{
        btn.addEventListener("click",function (e){

            e.preventDefault()
            var detail = document.querySelector(".product-details");
            console.log(detail)
            var id=detail.getAttribute("id");
            console.log(id)

            var rate = btn.getAttribute("data-id")
            var prodid=id;
            var url=btn.getAttribute("href");
            var params2 = `id=${id}&point=${rate}`
            $.ajax({
                url: url,
                data: {
                    id: id,
                    point:rate
                },
                type: "get",
                datatype: "json",
                success: function (data) {
                    btn.parentElement.style.display = "none";
               
                }
            })
        })  
    })

    $(document).ready(function () {

        $(document).on("click", ".down", function (e) {
            e.preventDefault();
            var id = $(this).attr("data-id")
            var total = document.querySelector(".total_price")
            var money = document.querySelectorAll(".money-t")
            console.log(id)
            $.ajax({
                url: "/Medicine/decrease",
                data: {
                    id: id
                },
                type: "post",
                datatype: "json",
                success: function (data) {
                    money.forEach(mon => {
                        if (id == mon.getAttribute("data-id")) {
                            mon.innerHTML = data.price
                            console.log(data.price)
                        }
                    })
                    total.innerHTML = `${data.totalPrice}`

                }
            })

        })


        $(document).on("click", ".up", function (e) {
            e.preventDefault();
            var id = $(this).attr("data-id")

            var total = document.querySelector(".total_price")
            var money = document.querySelectorAll(".money-t")
            console.log(id)
            $.ajax({
                url: "/Medicine/increase",
                data: {
                    id: id
                },
                type: "post",
                datatype: "json",
                success: function (data) {
                    money.forEach(mon => {
                        if (id == mon.getAttribute("data-id")) {
                            mon.innerHTML = data.price
                            console.log(data.price)
                        }
                    })
                    total.innerHTML = `${data.totalPrice}`

                }
            })

        })


    })


</script>
