@model HomeVM
@{
    Discount discount = Model.Discount;
}
<div class="headertext">
    <div class="container pt-4">
        <h1>Shop</h1>
        <span><a href="./index.html">Home</a></span>
        <span>></span>
        <a href="./Shop.html">Shop</a>
    </div>
</div>
<section class="shop-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="wrapper">
                    <div data-aos="fade-right" class="single-main">
                        <div class="single-title">
                            <h3>Categories</h3>
                        </div>
                        <div  class="single-body">
                           @foreach (var item in Model.Categories)
                            {
                                if (item.Medicines.Count>0)
                                {
                                    <ul>
                                        <li>
                                            <a asp-controller="Shop" asp-action="Index" asp-route-id="@item.Id">
                                                @item.Name <span>></span>
                                            </a>
                                        </li>
                                    </ul>
                                }
                            }
                        </div>
                    </div>
                    <div data-aos="fade-right" class="single-main">
                        <div class="single-title">
                            <h3>filter by price</h3>
                        </div>
                        <div class="single-body">
                            <div class="d-flex">
                                <div class="wrapper">
                                    <form method="post" asp-controller="Shop" asp-route-max="@ViewBag.Max" asp-route-min="@ViewBag.Min"  asp-route-id="@(ViewBag.CurrentCategory==null?null:ViewBag.CurrentCategory)" asp-route-key="@ViewBag.CurrentKey" asp-route-point="@ViewBag.Point" asp-action="index">
                                        <div class="price-input">
                                            <div class="field">
                                                <span>Min</span>
                                                <input style="height:1rem;" type="number" name="min" class="input-min" value="2500">
                                            </div>
                                          
                                            <div class="field">
                                                <span>Max</span>
                                                <input style="height:1rem;" type="number" name="max" class="input-max" value="7500">
                                            </div>
                                        </div>
                           
                                    <div class="slider">
                                        <div class="progress" style="left: 25%; right: 35%; background:none"></div>
                                    </div>
                                    <div class="range-input">
                                        <input type="range" asp-controller="Shop"  class="range-min" min="0" max="10000" value="2500" step="100">
                                        <input type="range" class="range-max" min="0" max="10000" value="7500" step="100">
                                    </div>
                                        <button style="line-height: 32px;">FILTER</button>
                                   </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div data-aos="fade-right" class="single-main">
                        <div class="single-title">
                            <h3>By rating</h3>
                        </div>
                        <div class="single-body">
                            <ul>
                                <li>
                                    <a asp-controller="shop" asp-action="index" asp-route-max="@ViewBag.Max" asp-route-min="@ViewBag.Min" asp-route-point="5" asp-route-key="@ViewBag.CurrentKey">
                                        <div class="starrating">
                                            <i class="fa-solid fa-star staron"></i>
                                            <i class="fa-solid fa-star staron"></i>
                                            <i class="fa-solid fa-star staron"></i>
                                            <i class="fa-solid fa-star staron"></i>
                                            <i class="fa-solid fa-star staron"></i>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="shop" asp-action="index" asp-route-max="@ViewBag.Max" asp-route-min="@ViewBag.Min" asp-route-point="4" asp-route-key="@ViewBag.CurrentKey">
                                        <div class="starrating">
                                            <i class="fa-solid fa-star staron"></i>
                                            <i class="fa-solid fa-star staron"></i>
                                            <i class="fa-solid fa-star staron"></i>
                                            <i class="fa-solid fa-star staron"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="shop" asp-action="index" asp-route-max="@ViewBag.Max" asp-route-min="@ViewBag.Min" asp-route-point="3" asp-route-key="@ViewBag.CurrentKey">
                                        <div class="starrating">
                                            <i class="fa-solid fa-star staron"></i>
                                            <i class="fa-solid fa-star staron"></i>
                                            <i class="fa-solid fa-star staron"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </a>
                                </li>
                                     <li>
                                    <a asp-controller="shop" asp-action="index" asp-route-max="@ViewBag.Max" asp-route-min="@ViewBag.Min" asp-route-point="2" asp-route-key="@ViewBag.CurrentKey">
                                        <div class="starrating">
                                            <i class="fa-solid fa-star staron"></i>
                                            <i class="fa-solid fa-star staron"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="shop" asp-action="index" asp-route-max="@ViewBag.Max" asp-route-min="@ViewBag.Min" asp-route-point="1" asp-route-key="@ViewBag.CurrentKey">
                                        <div class="starrating">
                                            <i class="fa-solid fa-star staron"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop-bar">
                    <div class="row">
                        <div class="col-lg-6">
                           
                        </div>
                        <div class="col-lg-6">
                            <div class="bar-right">
                                <div class="media-body before-shop-loop">
                                    <form class="form-order" method="get">
                    
                                  
                                        <div class="dropdown">
                                            <button class="dropbtn">Sort by</button>
                                            <div class="dropdown-content">
                                                <a class="dropdown-item" asp-route-key="2" asp-controller="Shop" asp-route-max="@ViewBag.Max" asp-route-min="@ViewBag.Min" asp-action="Index" asp-route-page="@ViewBag.CurrentPage" asp-route-point="@ViewBag.Point" asp-route-id="@(ViewBag.CurrentCategory==null?null:ViewBag.CurrentCategory)">Name</a>
                                                <a class="dropdown-item" asp-route-key="3" asp-controller="Shop" asp-route-max="@ViewBag.Max" asp-route-min="@ViewBag.Min" asp-action="Index" asp-route-page="@ViewBag.CurrentPage" asp-route-point="@ViewBag.Point" asp-route-id="@(ViewBag.CurrentCategory==null?null:ViewBag.CurrentCategory)">price by ascending</a>
                                                <a class="dropdown-item" asp-route-key="4" asp-controller="Shop" asp-route-max="@ViewBag.Max" asp-route-min="@ViewBag.Min" asp-action="Index" asp-route-page="@ViewBag.CurrentPage" asp-route-point="@ViewBag.Point" asp-route-id="@(ViewBag.CurrentCategory==null?null:ViewBag.CurrentCategory)">price by descending</a>
                                            </div>
                                        </div>
                                        @*   </select>*@
                                        <input type="hidden" name="paged" value="1">
                                    </form>
                                </div>


                            </div>
                        </div>
                        <div class="row products d-flexjustic">
                           @foreach (var item in Model.Medicines)
                            {
                                int ratingcount = 0;
                                int countpoint = 0;
                                int avg = 0;

                               
                                    if (item.Rates.Count > 0)
                                    {
                                        @foreach (var rate in item.Rates)
                                        {
                                            ratingcount++;
                                        countpoint += rate.Point;
                                        }

                                        avg = countpoint / ratingcount;
                                    }

                                <div class="col-lg-5">
                                    <div class="productbox">
                                        <div class="productimg">
                                            <div class="imgicon">
                                                <a asp-controller="Medicine" asp-action="AddWishlist" class="wishlistFetch" asp-route-id="@item.Id">
                                                    <i class="fa-solid fa-heart-circle-xmark"></i>
                                                </a>
                                            </div>
                                            <img style="object-fit: contain;" src="~/assets/image/@item.Image" alt="">
                                        </div>
                                        <div class="productinfo">
                                            <a asp-controller="Medicine" asp-action="Detail" asp-route-id="@item.Id">@item.Name</a>
                                            <div class="starrating">
                                                @for (int i = 0; i < avg; i++)
                                                {
                                                    <i class="fa-solid fa-star staron"></i>
                                                }
                                                <span>(@ratingcount)</span>
                                            </div>
                                            <div class="productprice">
                                                @if (item.DiscountId == 3)
                                                {
                                                    <h5>
                                                        @item.Price
                                                    </h5>
                                                }
                                                else
                                                {
                                                    <span>
                                                        <del> $ @item.Price</del>
                                                    </span>
                                                    <h5 style="margin-left:5px
">
                                                        @{
                                                            decimal price = (item.Price * discount.Percentage) / 100;
                                                        }
                                                        $ @price.ToString("f0")
                                                    </h5>
                                                }
                                            </div>
                                            <div class="basketicon">
                                                <div class="basketicon">
                                                    @if (item.Stock == true)
                                                    {
                                                        <a class="addToCart" asp-controller="Medicine" asp-action="Addbasket" asp-route-id="@item.Id">

                                                            <i class="fa-solid fa-basket-shopping"></i>
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a>

                                                            <i class="fa-solid fa-square-xmark"></i>
                                                        </a>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div id="1" style="display: block;" class="shop_content">
                                <div class="row justify-content-center mt-4">
                           @*         <nav aria-label="...">
                                        <ul class="pagination" style="justify-content:center">

                                            <li class="page-item @(ViewBag.Currentpage == 1 ? "disabled" : "")">
                                                <a class="page-link" asp-controller="Shop" asp-action="index" asp-route-page="@(ViewBag.CurrentPage-1)">Previous</a>
                                            </li>

                                            @for (int i = 1; i <= ViewBag.TotalPage; i++)
                                            {
                                                <li class="page-item  @(ViewBag.CurrentPage == i ? "active" : "")" style="pointer-events: @(ViewBag.CurrentPage == i ? "none" : "")"><a class="page-link" asp-controller="Shop" asp-action="index" asp-route-page="@i">@i</a></li>
                                            }

                                            <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPage ? "disabled" : "")">
                                                <a class="page-link" asp-controller="Shop" asp-action="index" asp-route-page="@(ViewBag.CurrentPage +1)">Next</a>
                                            </li>
                                        </ul>
                                    </nav>*@
                                    <ul class="pagination justify-content-center">
                                        @if (ViewBag.CurrentPage > 1)
                                        {
                                            <li class="page-item"><a class="page-link" asp-controller="Shop" asp-route-max="@ViewBag.Max" asp-route-min="@ViewBag.Min" asp-action="Index" asp-route-page="@(ViewBag.CurrentPage-1)" asp-route-id="@(ViewBag.CurrentCategory==null?null:ViewBag.CurrentCategory)" asp-route-key="@ViewBag.CurrentKey" asp-route-point="@ViewBag.Point"><span>Previous</span></a></li>
                                        }
                                        @for (int i = 1; i <= ViewBag.TotalPage; i++)
                                        {
                                            <li class="page-item @(i==ViewBag.CurrentPage?"disabled":"")"><a class="page-link" asp-route-max="@ViewBag.Max" asp-route-min="@ViewBag.Min" asp-controller="Shop" asp-action="Index" asp-route-page="@i" asp-route-id="@(ViewBag.CurrentCategory==null?null:ViewBag.CurrentCategory)" asp-route-key="@ViewBag.CurrentKey" asp-route-point="@ViewBag.Point"><span>@i</span></a></li>
                                        }
                                        @if (ViewBag.CurrentPage < ViewBag.TotalPage)
                                        {
                                            <li class="page-item"><a class="page-link" asp-controller="Shop" asp-route-max="@ViewBag.Max" asp-route-min="@ViewBag.Min" asp-action="Index" asp-route-page="@(ViewBag.CurrentPage+1)" asp-route-id="@(ViewBag.CurrentCategory==null?null:ViewBag.CurrentCategory)" asp-route-key="@ViewBag.CurrentKey" asp-route-point="@ViewBag.Point"><span>Next</span></a></li>
                                        }
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
             </div>

</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="~/assets/js/shop.js"></script>
<script src="~/assets/slick/slick.js"></script>