@model List<Medicine>
@{
    ViewData["Title"] = "Index";
}

<div class="main-panel">
    @{
        if (TempData["FileName"] != null)
        {
            <div class="alert alert-danger">@TempData["FileName"]</div>
        }
    }

    <div class="table-responsive pt-3">

        <table class="table table-bordered">
            <thead>
                <tr class="table-primary text-center">
                    <th>
                        Image
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        SKU
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Trend
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Medicine medicine in Model)
                {
                    <tr style="background-color:#DFF8FF;" class="table-secondary text-center">
                        <td>
                            <img style="width:110px; height:110px"
                             src="~/assets/image/@medicine.Image" />
                        </td>
                        <td>
                            @medicine.Name
                        </td>
                        <td>
                            @medicine.SKU
                        </td>

                        <td>
                            @medicine.Price
                        </td>



                        <td class="d-flex align-items-center" style="height:160px; justify-content: center; gap: 5px">
                            @if (medicine.Trend == false)
                            {
                                <div>
                                    <a asp-area="Medimalladmin" asp-controller="Trend" asp-action="Trend" asp-route-id="@medicine.Id"
                               class="btn btn-light"><img style="border-radius:0" width="2rem" src="~/admin/images/trending-topic.png" /></a>
                                </div>
                            }
                            else
                            {
                                <div>
                                    <a asp-area="Medimalladmin" asp-controller="Trend" asp-action="Trend" asp-route-id="@medicine.Id"
                               class="btn btn-light"><img style="border-radius:0" width="2rem" src="~/admin/images/fire-joypixels.gif" /></a>
                                </div>
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>


      

    </div>
    <div class="row justify-content-center mt-4">
        <nav aria-label="...">
            <ul class="pagination" style="justify-content:center">

                <li class="page-item @(ViewBag.Currentpage == 1 ? "disabled" : "")">
                    <a class="page-link" asp-controller="trend" asp-action="index" asp-route-page="@(ViewBag.CurrentPage-1)">Previous</a>
                </li>

                @for (int i = 1; i <= ViewBag.TotalPage; i++)
                {
                    <li class="page-item  @(ViewBag.CurrentPage == i ? "active" : "")" style="pointer-events: @(ViewBag.CurrentPage == i ? "none" : "")"><a class="page-link" asp-controller="trend" asp-action="index" asp-route-page="@i">@i</a></li>
                }

                <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPage ? "disabled" : "")">
                    <a class="page-link" asp-controller="trend" asp-action="index" asp-route-page="@(ViewBag.CurrentPage +1)">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</div>
