@model HomeVM

@{
    Discount discount = Model.Discount;
}
<!-- slider start -->
<section class="container responsevslider d-flexjustic">
    <div class="col-lg-6 col-12 d-flex mainslider">
       @foreach (Slider slider in Model.Sliders)
        {
            @if (slider.Order == 1)
            {
                <div data-aos="fade-right" class="leftslider d-flex">
                    <div class="slidertext">
                    <h1>SURGICAL MASK</h1>
                    <p>3 Layer Protection</p>
                    <div class="imagebutton">
                        <button class="learn-more">
                            <span class="circle" aria-hidden="true">
                                <span class="icon arrow"></span>
                            </span>
                            <span class="button-text">SHOP NOW</span>
                        </button>
                    </div>
                </div>
                <div class="img-fluid">
                    <img src="assets/image/@slider.Image" alt="">
                </div>
            </div>
            }
      }
         
     </div>
    <div class="col-lg-5 col-12 rightslider">
        <div  class="topslider d-flex">
        @foreach (Slider slider1 in Model.Sliders)
        {
             @if(slider1.Order==2){
                    <div data-aos="fade-right" class="topslidertext">
                        <h3>EKTA NEBULIZER</h3>
                        <p>COMPRESSOR</p>
                        <div class="imagebutton">
                            <button href="@slider1.ButtonUrl" class="learn-more">
                                <span class="circle" aria-hidden="true">
                                    <span class="icon arrow"></span>
                                </span>
                                <span class="button-text">SHOP NOW</span>
                            </button>
                        </div>
                    </div>
                    <div>
                        <img src="assets/image/@slider1.Image" alt="">
                    </div>
             }
        }

        </div>
        <div class="bottomslider d-flex">
               @foreach (Slider slider2 in Model.Sliders){
                @if(slider2.Order==3){
                    <div>
                        <img src="assets/image/@slider2.Image" alt="">
                    </div>
                    <div data-aos="fade-right" class="bottomslidertext">
                        <h3>@slider2.Desc</h3>
                        <p>@slider2.Title</p>
                        <div class="imagebutton">
                            <button href="@slider2.ButtonUrl" class="learn-more">
                                <span class="circle" aria-hidden="true">
                                    <span class="icon arrow"></span>
                                </span>
                                <span class="button-text">SHOP NOW</span>
                            </button>
                        </div>
                    </div>
                }
               }


        </div>
    </div>
</section>
<!-- slider end -->
<!-- category start -->
<section>
    <div class="categorys col-lg-12 d-flexjustic container">
       @foreach (Category category in Model.Categories.Take(8))
      {
           if (category.Medicines.Count>0)
           {
                <div data-aos="fade-up" class="categorybox col-lg-1 col-5">
                    <div class="topcategory">
                        <img src="assets/image/@category.Image" alt="">
                    </div>
                    <div class="bottomcategory">
                        <a asp-controller="Shop" asp-action="Index" asp-route-id="@category.Id">
                            @category.Name
                        </a>
                    </div>
                </div>
            }
        }

    </div>
</section>
<!-- category end -->
<!-- Product start -->
<section class="container mt-5">
    <div class="latestproduct">
        <h2>Our Latest Products</h2>
    </div>
    <div class="products gap-5">

       
        @foreach (Medicine medicine in Model.Medicines.Take(10))
       {
            int ratingcount = 0;
            int countpoint = 0;
            int avg = 0;
        
           if (medicine.DiscountId==3)
           {
                if (medicine.Rates.Count > 0)
               {
                @foreach (var item in medicine.Rates)
                {
                    ratingcount++;
                    countpoint += item.Point;
                }
             
                   avg = countpoint / ratingcount;
               }

                <div data-aos="fade-up"
             data-aos-duration="500" class="col-lg-2 col-10 productbox">
                    <div class="productimg">
                        <div class="imgicon">
                            <a asp-controller="Medicine" asp-action="AddWishlist" class="wishlistFetch" asp-route-id="@medicine.Id">
                                <i class="fa-solid fa-heart-circle-xmark"></i>
                            </a>
                        </div>
                        <img src="assets/image/@medicine.Image" alt="">
                    </div>
                    <div class="productinfo">
                        <a asp-controller="Medicine" asp-action="Detail" asp-route-id="@medicine.Id">@medicine.Name</a>
                        <div class="starrating">
                            @for (int i = 0; i < avg; i++)
                        {
                            <i class="fa-solid fa-star staron"></i>
                        }
                        <span>(@ratingcount)</span>
                        </div>
                       
                        <div class="productprice">
                            <h5>
                                @medicine.Price
                            </h5>
                        </div>
                        <div class="basketicon">
                            <a class="addToCart" asp-controller="Medicine" asp-action="Addbasket" asp-route-id="@medicine.Id">

                                <i class="fa-solid fa-basket-shopping"></i>
                            </a>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
</section>
<!-- Product end -->
<!--minisilder start-->
<section class="container">
    <div class="silders">
 @foreach (var slider in Model.Sliders)
        {
            if (slider.Order==4)
            {
                <div class="minislider col-12 d-flex rounded-3">
                    <div class="minislidertext">
                        <h4>@slider.Title</h4>
                        <div class="imagebutton">
                            <button class="learn-more">
                                <span class="circle" aria-hidden="true">
                                    <span class="icon arrow"></span>
                                </span>
                                <span class="button-text">SHOP NOW</span>
                            </button>
                        </div>
                    </div>
                    <div class="rounded">
                        <img src="assets/image/@slider.Image" alt="">
                    </div>

                </div>
            }
            if (slider.Order == 5)
            {
                <div class="minislider col-12 d-flex rounded-3">
                    <div class="minislidertext">
                        <h4>@slider.Title</h4>
                        <div class="imagebutton">
                            <button class="learn-more">
                                <span class="circle" aria-hidden="true">
                                    <span class="icon arrow"></span>
                                </span>
                                <span class="button-text">SHOP NOW</span>
                            </button>
                        </div>
                    </div>
                    <div class="rounded">
                        <img src="assets/image/@slider.Image" alt="">
                    </div>

                </div>
            }
            if (slider.Order == 6)
            {
                <div class="minislider col-12 d-flex rounded-3">
                    <div class="minislidertext">
                        <h4>@slider.Title</h4>
                        <div class="imagebutton">
                            <button class="learn-more">
                                <span class="circle" aria-hidden="true">
                                    <span class="icon arrow"></span>
                                </span>
                                <span class="button-text">SHOP NOW</span>
                            </button>
                        </div>
                    </div>
                    <div class="rounded">
                        <img style="width:9.5rem;" src="assets/image/@slider.Image" alt="">
                    </div>

                </div>
            }
        }

    </div>
</section>
<!--minisilder end-->
<!--product slider start-->
@if (discount.DateTime>DateTime.Now)
{
<section class="discount">
        <div class="discounttext container d-flexjustic">
            <div class="col-lg-8">
                <span>Discounts up to @discount.Percentage %</span>
                <h2 style="max-width: 60%;">@discount.Title</h2>
            </div>
            <div style="padding: 12px 30px;
    border-radius: 30px;
    min-height: 60px;
    line-height: 1;
height:2rem;
    background-color: #ff2e2e;" class="col-lg-2">
                <h4 id="" style="color:white;text-align:center"><span style="font-size:1.1rem;">End in:</span> @discount.DateTime.ToString("yyyy.MM.dd")</h4>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div  class="slider">
                
                
                    @foreach (Medicine medicine in Model.Medicines.Take(10))
                    {

                        int ratingcount = 0;
                        int countpoint = 0;
                        int avg = 0;
                        if (medicine.DiscountId == 2)
                        {
                           @if (medicine.Rates.Count>0)
                            {
                                @foreach (var item in medicine.Rates)
                                {
                                    ratingcount++;
                                    countpoint += item.Point;
                                }
                  
                                    avg = countpoint / ratingcount;
                       
                            }
                            <div data-aos="zoom-in" class="col-lg-2 col-10 productbox">
                                <div class="productimg">
                                    <div class="imgicon">
                                        <a asp-controller="Medicine" asp-action="AddWishlist" class="wishlistFetch" asp-route-id="@medicine.Id">
                                            <i class="fa-solid fa-heart-circle-xmark"></i>
                                        </a>
                                    </div>
                                    <img src="assets/image/@medicine.Image" alt="">
                                </div>
                                <div class="productinfo">
                                    <a asp-controller="Medicine" asp-action="Detail" asp-route-id="@medicine.Id">@medicine.Name</a>
                                    <div class="starrating">
                                        @for (int i = 0; i < avg; i++)
                                        {
                                            <i class="fa-solid fa-star staron"></i>
                                        }
                                        <span>(@ratingcount)</span>
                                    </div>
                                    <div class="productprice">
                                        <span>
                                            <del> $ @medicine.Price</del>
                                        </span>
                                        <h5>
                                            @{
                                                decimal price = (medicine.Price * discount.Percentage) / 100;
                                            }
                                            $ @price.ToString("f0")
                                        </h5>
                                    </div>
                                    <div class="basketicon">
                                        <a class="addToCart" asp-controller="Medicine" asp-action="Addbasket" asp-route-id="@medicine.Id">

                                            <i class="fa-solid fa-basket-shopping"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
</section>
    }
<!--product slider end-->
<!--top product start-->
<section class="top-product">
    <div class="container">
        <div class="d-flexjustic discountproduct">
            <div class="col-lg-6 col-12">
                <div class="latestproduct">
                    <h2>Top Selling Products</h2>
                </div>
                <div class="d-flexjustic flex-wrap">
                    <div class="col-lg-5 d-flex productbox">
                        <div class="productimg col-lg-6">
                            <img src="assets/image/product_2-360x300.png" alt="">
                        </div>
                        <div class="productinfo col-lg-6">
                            <a href="">New Liquid Soap</a>
                            <div class="starrating">
                                <i class="fa-solid fa-star staron"></i>
                                <i class="fa-solid fa-star staron"></i>
                                <i class="fa-solid fa-star staron"></i>
                                <i class="fa-solid fa-star staron"></i>
                                <i class="fa-solid fa-star"></i>
                                <span>(1)</span>
                            </div>
                            <div class="productprice">
                                <h5>
                                    $18.00
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 d-flex productbox">
                        <div class="productimg col-lg-6">
                            <img src="assets/image/product_2-360x300.png" alt="">
                        </div>
                        <div class="productinfo col-lg-6">
                            <a href="">New Liquid Soap</a>
                            <div class="starrating">
                                <i class="fa-solid fa-star staron"></i>
                                <i class="fa-solid fa-star staron"></i>
                                <i class="fa-solid fa-star staron"></i>
                                <i class="fa-solid fa-star staron"></i>
                                <i class="fa-solid fa-star"></i>
                                <span>(1)</span>
                            </div>
                            <div class="productprice">
                                <h5>
                                    $18.00
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 d-flex productbox">
                        <div class="productimg col-lg-6">
                            <img src="assets/image/product_2-360x300.png" alt="">
                        </div>
                        <div class="productinfo col-lg-6">
                            <a href="">New Liquid Soap</a>
                            <div class="starrating">
                                <i class="fa-solid fa-star staron"></i>
                                <i class="fa-solid fa-star staron"></i>
                                <i class="fa-solid fa-star staron"></i>
                                <i class="fa-solid fa-star staron"></i>
                                <i class="fa-solid fa-star"></i>
                                <span>(1)</span>
                            </div>
                            <div class="productprice">
                                <h5>
                                    $18.00
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 d-flex productbox">
                        <div class="productimg col-lg-6">
                            <img src="assets/image/product_2-360x300.png" alt="">
                        </div>
                        <div class="productinfo col-lg-6">
                            <a href="">New Liquid Soap</a>
                            <div class="starrating">
                                <i class="fa-solid fa-star staron"></i>
                                <i class="fa-solid fa-star staron"></i>
                                <i class="fa-solid fa-star staron"></i>
                                <i class="fa-solid fa-star staron"></i>
                                <i class="fa-solid fa-star"></i>
                                <span>(1)</span>
                            </div>
                            <div class="productprice">
                                <h5>
                                    $18.00
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 d-flex productbox">
                        <div class="productimg col-lg-6">
                            <img src="assets/image/product_2-360x300.png" alt="">
                        </div>
                        <div class="productinfo col-lg-6">
                            <a href="">New Liquid Soap</a>
                            <div class="starrating">
                                <i class="fa-solid fa-star staron"></i>
                                <i class="fa-solid fa-star staron"></i>
                                <i class="fa-solid fa-star staron"></i>
                                <i class="fa-solid fa-star staron"></i>
                                <i class="fa-solid fa-star"></i>
                                <span>(1)</span>
                            </div>
                            <div class="productprice">
                                <h5>
                                    $18.00
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 d-flex productbox">
                        <div class="productimg col-lg-6">
                            <img src="assets/image/product_2-360x300.png" alt="">
                        </div>
                        <div class="productinfo col-lg-6">
                            <a href="">New Liquid Soap</a>
                            <div class="starrating">
                                <i class="fa-solid fa-star staron"></i>
                                <i class="fa-solid fa-star staron"></i>
                                <i class="fa-solid fa-star staron"></i>
                                <i class="fa-solid fa-star staron"></i>
                                <i class="fa-solid fa-star"></i>
                                <span>(1)</span>
                            </div>
                            <div class="productprice">
                                <h5>
                                    $18.00
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="latestproduct">
                    <h2>Top Products</h2>
                </div>
                <div class="d-flexjustic flex-wrap">
                    <div class="d-flex col-lg-10 productbox">
                        <div class="productimg col-lg-6">
                            <img src="assets/image/product_2-360x300.png" alt="">
                        </div>
                        <div class="productinfo col-lg-6">
                            <a href="">New Liquid Soap</a>
                            <div class="starrating">
                                <i class="fa-solid fa-star staron"></i>
                                <i class="fa-solid fa-star staron"></i>
                                <i class="fa-solid fa-star staron"></i>
                                <i class="fa-solid fa-star staron"></i>
                                <i class="fa-solid fa-star"></i>
                                <span>(1)</span>
                            </div>
                            <div class="productprice">
                                <h5>
                                    $18.00
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex col-lg-10 productbox">
                        <div class="productimg col-lg-6">
                            <img src="assets/image/product_2-360x300.png" alt="">
                        </div>
                        <div class="productinfo col-lg-6">
                            <a href="">New Liquid Soap</a>
                            <div class="starrating">
                                <i class="fa-solid fa-star staron"></i>
                                <i class="fa-solid fa-star staron"></i>
                                <i class="fa-solid fa-star staron"></i>
                                <i class="fa-solid fa-star staron"></i>
                                <i class="fa-solid fa-star"></i>
                                <span>(1)</span>
                            </div>
                            <div class="productprice">
                                <h5>
                                    $18.00
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="back-top">
    <a id="button">
        <i class="fas fa-angle-double-up"></i>
    </a>
</div>
</section>
<script>
    window.onscroll = function () { scrollFunction() };
    var btn = document.getElementById("button");
    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            btn.className = "show";
        } else {
            btn.className = "";
        }
        if (document.body.scrollTop > 250 || document.documentElement.scrollTop > 500) {
            document.getElementById("nav-2").style.top = "0";
        } else {
            document.getElementById("nav-2").style.top = "-120px";
        }
    }

    btn.onclick = function () {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>

