@inject FinalProjectMedimall.Services.LayoutService layoutservice
@{
    BasketVM basket = await layoutservice.ShowBasket();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medimal</title>
    <link rel="icon" href="~/assets./image/icon.png">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/assets/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="~/assets/slick/slick-theme.css"/>
</head>
<body>
    <!-- header start -->
    <header>
        <div id="mySidenav" class="sidenav carts">
            @await Html.PartialAsync("_basketPartial",layoutservice)
        </div>
        <section class="headermain container">
            <div class="col-lg-2 img-fluid logo">
                <a asp-controller="Home" asp-action="Index">
                    <img src="~/assets/image/@layoutservice.GetSettings().FirstOrDefault(x=>x.Key.Trim().ToLower()=="logo")?.Value" alt="">
                </a>
            </div>
            <div class="col-lg-6 inputsearch d-flex">
                <div class="category">
                    <div class="dropdown_list">
                        <button class="dropdown_button">
                            <span style="color: #064acb;
            background-color: #fff ; border-radius: 100%;margin-right: 10px; ">
                                <i style="margin-left: 5px;" class="fas fa-angle-down"></i>
                            </span>
                            <span>Categories</span>
                        </button>

                        <div id="courses_id" class="courses">
                            @foreach (var item in layoutservice.GetCategories())
                            {
                             @if (item.Medicines.Count>0)
                                {
                                    <li><a asp-controller="Shop" asp-action="index" asp-route-id="@item.Id"><i class="fa-solid fa-chevron-right"></i>@item.Name</a></li>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="search">

                    <input name="str" type="text" placeholder="Search For Products ...">
                </div>
                <button class="searchicon">
                    <span><i class="fas fa-search"></i></span>
                </button>
            </div>
            <div class="col-lg-2 headericons">
                 @if (User.Identity.IsAuthenticated)
                {
                    <a asp-controller="User" asp-action="index">
                        <i class="fa-solid fa-user"></i>
                    </a>
                }
                else{
                    <a asp-controller="account" asp-action="login">
                        <i class="fa-solid fa-user"></i>
                    </a>
                }
                <a asp-controller="WishList" asp-action="Index">
                    <i class="fas fa-heart">
                        <span id="countWishlist" class="count">@layoutservice.GetWishlist().Result.WishListItemVMs.Count</span>


       
                    </i>
                </a>
                <a style="cursor: pointer;">
                    <i onclick="openNav()" class="fas fa-cart-plus">
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Member"))
                        {
                            <span id="total-count" class="count">@layoutservice.ShowBasket().Result.Count</span>
                        }
                        else
                        {
                            <span id="total-count" class="count">@layoutservice.ShowBasket().Result.Count</span>
                        }
                    </i>
                </a>
    

            </div>
        </section>
        <section class="navbar">
            <div class="container">
                <div class="col-lg-8 d-flex list">
                    <ul><a asp-controller="Home" asp-action="Index">HOME</a></ul>
                    <ul><a asp-controller="Shop" asp-action="Index">SHOP</a></ul>
                 <ul><a asp-controller="contact" asp-action="Index" >CONTACT</a></ul>
                    <ul><a asp-controller="about" asp-action="Index">ABOUT</a></ul>
                </div>
                <div class="col-lg-2 d-flex phone">
                    <div class="navicon">
                        <i class="fas fa-phone-alt"></i>
                    </div>
                    <div class="contactbox">
                        <span>Need any help?</span>
                        <div class="contactnumber">
                            <a href=tel:"@layoutservice.GetSettings().FirstOrDefault(x=>x.Key.Trim().ToLower()=="number")?.Value">@layoutservice.GetSettings().FirstOrDefault(x=>x.Key.Trim().ToLower()=="number")?.Value</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="nav-2" class="header2">
            <div style="align-items: center;" class="d-flexjustic container">
                <div class="col-lg-4 img-fluid logo">
                    <a asp-controller ="Home" asp-action="Index">
                        <img src="~/assets/image/@layoutservice.GetSettings().FirstOrDefault(x=>x.Key.Trim().ToLower()=="logofooter")?.Value" alt="">
                    </a>
                </div>
                <div class="col-lg-4 navbar">
                    <div class="col-lg-8 d-flex list">
                        <ul><a asp-controller="Home" asp-action="Index">HOME</a></ul>
                        <ul><a asp-controller="Shop" asp-action="Index">SHOP</a></ul>
                        <ul><a asp-controller="contact" asp-action="Index">CONTACT</a></ul>
                        <ul><a asp-controller="about" asp-action="Index">ABOUT</a></ul>
                    </div>
                </div>
                <div class="col-lg-2 headericons">
                    <a href="~/assets">
                        <i class="fa-solid fa-user"></i>
                    </a>
                    <a href="~/assets./wishlist.html">
                        <i class="fas fa-heart">
                            <span>0</span>
                        </i>
                    </a>
                    <a style="cursor: pointer;">
                        <i onclick="openNav()" class="fas fa-cart-plus">
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Member"))
                            {
                                <span id="count-nav" class="count">@layoutservice.ShowBasket().Result.Count</span>
                            }
                            else
                            {
                                <span id="count-nav" class="count">@layoutservice.ShowBasket().Result.Count</span>
                            }
                        </i>
                    </a>
                </div>
            </div>
        </section>
    </header>
    <section class="responsnav">
        <div id="resmySidenav" class="sidenav col-12">
                  @await Html.PartialAsync("_basketPartial",layoutservice)
        </div>
        <div style="align-items: center;" class="container d-flexjustic">
            <div class="col-5 img-fluid logo">
                <a href="~/assets./index.html">
                    <img src="~/assets./image/logo.png" alt="">
                </a>
            </div>
            <div class="col-4 headericons d-flexjustic">
                <a href="~/assets">
                    <i class="fa-solid fa-user"></i>
                </a>
                <a href="~/assets./wishlist.html">
                    <i class="fas fa-heart">
                        <span>0</span>
                    </i>
                </a>
                <a style="cursor: pointer;">
                    <i onclick="openNav2()" class="fas fa-cart-plus">
                        <span>0</span>
                    </i>
                </a>
            </div>
            <div class="col-1 barmenu">
                <a class="btnnav"><i class="fa-solid fa-bars"></i></a>
            </div>
            <div class="nav-content">
                <ul>
                    <ul><a asp-controller="Home" asp-action="Index">HOME</a></ul>
                    <ul><a asp-controller="Shop" asp-action="Index">SHOP</a></ul>
                    <ul><a asp-controller="contact" asp-action="Index">CONTACT</a></ul>
                    <ul><a asp-controller="about" asp-action="Index">ABOUT</a></ul>
                </ul>
            </div>
        </div>

    </section>
    <!-- header end -->
        @RenderBody()
    <!-- footer start -->
    <footer>
        <div class="d-flexjustic footer-response">
            <div  class="col-lg-5 col-12 footerleft">
                <div data-aos="fade-right" class="container">
                    <img src="~/assets/image/@layoutservice.GetSettings().FirstOrDefault(x=>x.Key.Trim().ToLower()=="logofooter")?.Value" alt="">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil ut odit provident voluptas recusandae quod fugit non inventore molestiae repellendus.</p>
                    <p>Our Help Line:</p>
                    <a href=tel:"@layoutservice.GetSettings().FirstOrDefault(x=>x.Key.Trim().ToLower()=="number")?.Value">@layoutservice.GetSettings().FirstOrDefault(x=>x.Key.Trim().ToLower()=="number")?.Value</a>
                </div>
            </div>
            <div class="col-lg-7 col-12 footerright">
                <div class="container d-flexjustic footer-response">
                    <div  class="navmenu col-lg-3">
                        <h3 data-aos="zoom-in">Information</h3>
                        <ul data-aos="fade-up">
                            <li>About</li>
                            <li>Delivery</li>
                            <li>Contact</li>
                            <li>Shop</li>
                        </ul>
                    </div>
                    <div class="navmenu col-lg-4">
                        <h3 data-aos="zoom-in">Custom Links</h3>
                        <ul data-aos="fade-up">
                            <li>About</li>
                            <li>Delivery</li>
                            <li>Contact</li>
                            <li>Shop</li>
                        </ul>
                    </div>
                    <div data-aos="zoom-in" class="navmenu col-lg-5">
                        <h3>Newsletter</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, non.</p>
                    </div>
                </div>
            </div>
        </div>

    </footer>

    <!-- footer end -->
    <div class="back-top">
        <a id="button">
            <i class="fas fa-angle-double-up"></i>
        </a>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(document).on("click", ".wishlistFetch", function (e) {
            e.preventDefault()
            var href = $(this).attr("href")
            console.log(href)
            var base = window.location.origin
            var url = `${base}${href}`
            var urlToPartial = `${url}/Medicine/GetWishlistPartial`

            fetch(url).then(res => res.text()).then(data => {
                fetch(urlToPartial).then(res => res.text()).then(data => {

                    $(".wish-lists .wishContainer .wishinROw").empty();

                    $(".wish-lists .wishContainer .wishinROw").append(data);
                });
            })
            setTimeout(function () {
                var countwishlist = document.getElementById("totalcountWishlist");
      
                var heart = document.querySelector("#countWishlist");

                var count = countwishlist.innerHTML
                console.log(heart.innerHTML = count)
           

              
   

            }, 100);
        });
        $(document).on("click", ".removeWishlistItem", function (e) {

            e.preventDefault();
            var href = $(this).attr("href");
            console.log(href)
            var base = window.location.origin;
            var url = `${base}${href}`
            var urlForPartial = `${base}/Medicine/GetWishlistPartial`

            fetch(url).then(res => res.text()).then(data => {

                fetch(urlForPartial).then(res => res.text()).then(data => {

                    $(".wish-lists .wishContainer .wishinROw").empty();

                    $(".wish-lists .wishContainer .wishinROw").append(data);

                })


            })
            setTimeout(function () {
                //var count = document.getElementById("total_countWishlist");

            }, 100);
        })
    });
</script>

<script>
    //var logout = document.querySelector(".logout")
    //logout.addEventListener("click", function (e) {
    //    e.preventDefault()
    //    function greet() {
    //        window.location.href = `https://localhost:44352/account/logout`
    //    }
    //    setTimeout(greet, 1800)

    //})
    $(document).ready(function () {

        $(document).on("click", ".addToCart", function (e) {
            e.preventDefault();
            var href = $(this).attr("href");
            var base = window.location.origin;
            var url = `${base}${href}`
            console.log(url)
            var urlForPartial = `${base}/Medicine/GetPartial`

            fetch(url).then(res => res.text()).then(data => {

                fetch(urlForPartial).then(res => res.text()).then(data => {


                    $(".carts").empty();
                    var card = document.querySelector(".carts")
                   

                    $(".carts").append(data);

                })



            })
            setTimeout(function () {
                var totalcount = document.getElementById("total_count")
                var topnavbar=document.getElementById("count-nav")
                var count = totalcount.innerHTML
                var htmltag = document.getElementById("total-count")
                htmltag.innerHTML = count
                topnavbar.innerHTML = count
            },100);
        })

        $(document).on("click", ".remove", function (e) {

            e.preventDefault();
            var href = $(this).attr("href");
            console.log(href)
            var base = window.location.origin;
            var url = `${base}${href}`
            var urlForPartial = `${base}/Medicine/GetPartial`

            fetch(url).then(res => res.text()).then(data => {

                fetch(urlForPartial).then(res => res.text()).then(data => {

                    $(".carts").empty();
                    var card = document.querySelector(".carts")
                   
                    $(".carts").append(data);

                })


            })
            setTimeout(function () {
                var totalcount = document.getElementById("total_count")
                var htmltag = document.getElementById("total-count")
                var topnavbar=document.getElementById("count-nav")
                htmltag.innerHTML = "0"
                topnavbar.innerHTML = "0"
                var count = totalcount.innerHTML
                htmltag.innerHTML = count
                topnavbar.innerHTML = count
            }, 100);


        })
    })
</script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<script src="~/assets/slick/slick.js"></script>
<script src="~/assets/js/app.js"></script>
<script src="~/assets/js/product.js"></script>
<script src="~/assets/js/cart.js"></script>
</html>
